
.App {
  background: linear-gradient(110deg, #1d1d1d 60%, #1a1a1a 60%);
  max-width: 50rem;
  color: lightgray;
  margin: 4rem auto;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.44);
}

h1 {
  margin-bottom: 30px;
}

h4 {
  text-align: center;
}

.artist-img {
  border-radius: 5px;
  margin-right: 15px;
  object-fit: cover;
}

Label {
  margin-top: 30px;
}

.artist-name {
  font-size: 30px;
  color: #1d1d1d;
}

/*-----------------------*/
.counter {
  display: flex;
  width: 170px;
}

.counter-action {
  margin-bottom: 10px;
  border-radius: 30px;
  width: 30px;
  height: 50px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: #B0AEBA;
  background-color: #DCDCDC;
  display: block;
  cursor: pointer;
  outline: none;

}

.counter-action:hover {
  color: #fff;
}

.increment:hover {
  background: #83D97C;
}

.decrement:hover {
  background: #EF5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
}

.counter-score p{
  font-size: 12px;
  margin-bottom: 0;
}

.counter-score strong {
  color: #581237;
  font-size: 19px;
  margin: 0;
}
